# .gitignore
node_modules/
*/node_modules/
*/*/node_modules/
*/*/*/node_modules/

# Production builds
build/
dist/
*/build/
*/dist/

# Environment variables
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# package-lock.json z głównego folderu (jeśli nie ma tam package.json)
package-lock.json